body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .content {
  display: flex;
  width: 1000px;
} */

.movie ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.movie-item {
  margin: 15px 25px;
  width: 350px;
  height: 475px;
  background-color: #21201E;
  color: #6C6D71;
  border-radius: 15px;
  background: #21201E;
  box-shadow: 0px 4px 20px 0px rgba(217, 217, 217, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-item img {
  width: 216.354px;
  height: 325px;
  border-radius: 5px;
  margin-top: 30px;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.movie-item h3 {
  margin-top: 30px;
  font-size: 25px;
}

.movie-item p {
  margin-top: 0px;
}



.search-con {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: row;
  padding-left: 10px;
  flex-wrap: wrap;
}

.search input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
}

.search-res p {
  margin: 10px;
  font-size: 18px;
}

.search-res img {
  width: 216.354px;
  height: 325px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 30px;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.movie-show {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  
}
.movie-show li {
  flex: 1;
  padding-right: 30px;
  
}

.movie-show li ul {
  list-style: none;
  padding-inline-start: 0px;
}

.movie-show img {
  width: 216.354px;
  height: 325px;
  border-radius: 5px;
  margin-top: 30px;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.show-list {
  padding-left: 30px;
}